@import 'fonts';
@import 'reset';
@import 'colors';
@import 'variables';
@import 'helpers';

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-200;
  min-height: 100%;
  color: $gray-700;
}

a {
  &,
  &:link,
  &:active {
    color: $blue;
  }

  &:visited {
    color: $purple;
  }
}

html,
button,
input {
  font-family: $roboto;
  font-size: $font-size-4;
  font-weight: $font-weight-regular;
}
